<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <style>
      body {
        background: #eee;
      }

      .filter {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .profiles img {
        margin-right: -6px;
      }

      .col-md-4 {
        margin-top: 26px;
      }
    </style>
  </head>
  <body>
    <div th:insert="_header :: header"></div>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12">
          <div
            class="d-flex flex-row justify-content-between align-items-center filters"
          >
            <!-- Count the total number of task -->
            <h6>Showing <span>56 ! TO change later</span> tasks</h6>
            <div class="right-sort">
              <div class="sort-by">
                <span class="mr-1">Sort by:</span><a href="#">Most recently</a
                ><i class="fa fa-angle-down ml-1"></i
                ><button
                  class="btn btn-outline-dark btn-sm ml-3 filter"
                  type="button"
                >
                  Thêm Task&nbsp;<i class="fa fa-tasks" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TO DO CARD -->
      <div class="row mt-1">
        <div class="col-md-4" th:each="task: ${taskListResponse.tasks}">
          <div class="p-card bg-white p-2 rounded px-3">
            <div
              class="d-flex align-items-center credits justify-content-between"
            >
              <div>
                <img th:src="@{/images/logo_ute.png}" width="24px" alt="logo ute"/><span
                  class="text-black-50 ml-2" th:text="'Độ ưu tiên: ' + ${task.priority}"
                  ></span
                >
              </div>
              <i class="fa-solid fa-trash"></i>
            </div>
            <h5 class="mt-2" th:text="${task.title}"></h5>
            <span
              th:class="${task.id % 2 != 0 ? 'badge badge-danger py-1 mb-2' : 'badge badge-primary py-1 mb-2'}"
              >Marketing &amp; Sales</span
            >
            <span class="d-block mb-5" th:text="${task.description}"
              >Some kind of short descriptions can go here to better recommend
              tasks.</span
            >
            <div class="d-flex justify-content-between stats">
              <div>
                <i class="fa fa-calendar-o"></i
                ><span class="ml-2" th:text="${task.dueDate}">1 days ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end text-right mt-2">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"
                ><span aria-hidden="true">&laquo;</span></a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next"
                ><span aria-hidden="true">&raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div th:insert="_footer :: footer"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/994ab2774e.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
